extends ../../layouts/navbar-home
block content
  div.detail-product-wrapper
    div
      img.image-detail-product(src= product.image[0])
    div.info-detail-product
      h2= product.name
      h3= 'Giá ' + product.price + 'đ'
      div.d-flex
        b.d-flex.mx-1
          p= 'Quy cách: '
        span= product.packaging
      div.d-flex
        b.d-flex.mx-1
          p= 'Danh mục: '
        span= product.category
      div.d-flex
        b.d-flex.mx-1
          p= 'Bảo quản: '
        span= product.preserve
      div.d-flex
        b.d-flex.mx-1
          p= 'Nguồn hàng: '
        span= product.source
      div.d-flex
        b.d-flex.mx-2
          p= 'Quy cách: '
        span= product.packaging
      div.d-flex
        b.d-flex.mx-2
          p= 'Xuất xứ: '
        span= product.origin
      div.d-flex
        b.d-flex.mx-2
          p= 'Cảnh báo: '
        span= product.warning
      div.d-flex
        b.d-flex.mx-2
          p= 'Thành phần: '
        span= product.ingredients
      div.d-flex
        b.d-flex.mx-2
          p= 'Chi tiết: '
        span= product.detail
      a.btn.btn-outline-primary.m-1(href='/variant/create/'+product.id) Tạo loại sản phẩm
      
      