extends ../../layouts/navbar-home.pug
block content
  div.d-flex.justify-content-between
    h2 Đơn đặt hàng
    div.d-flex
      div
        form(method="GET" action='/bills/search/date' enctype='application/x-www-form-urlencoded')
          div.d-flex
            input#name.flex-grow-1(type="date", name="date" placeholder= "tháng/ngày/năm")
            button.btn.btn-primary Tìm kiếm
      div
        form(method="GET" action='/bills/search/name' enctype='application/x-www-form-urlencoded')
          div.d-flex
            input#name.flex-grow-1(type="text", name="name" placeholder= "Nhập tên khách hàng")
            button.btn.btn-primary Tìm kiếm
  table.table.table-hover.table-borderless
    tr
      th Mã
      th Ngày đặt hàng
      th Ngày giao hàng
      th Tên người đặt
      th Số điện thoại
      th Địa chỉ
      th Tổng tiền
      th Trạng thái giao hàng
      th Trạng thái thanh toán
      th Trang thái đơn hàng
      th 
    each bill in bills
      tr
        td= bill.id
        td= bill.date
        td= bill.finish_at
        td= bill.username
        td= bill.phone
        td= bill.user_address
        td= bill.total
        td= bill.transporting? "Đang giao": bill.payment_status ? "Hoàn thành":"Chờ lấy hàng"  
        td= bill.payment_status ? "Đã thanh toán" : "Chưa thanh toán"
        td
          a(data-href="/bills/confirm/"+bill.id).btn.btn-outline-primary.confirm= bill.bill_status ? "Đã xác nhận": "Chưa xác nhận"
        td.d-flex
          a(href="/bills/detail/"+bill.id).btn.btn-primary Chi tiết

  script(src="//cdn.jsdelivr.net/npm/sweetalert2@11")
  script.
    [...document.querySelectorAll('a.confirm')].forEach(el => {
      el.addEventListener('click', e => {
        Swal.fire({
          title: 'Bạn có muốn chuyển trạng thái đơn hàng không?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Đồng ý'
        }).then((result) => {
          if (result.isConfirmed) {
            document.location.href = el.dataset.href
          }
        })
      })
    })
