extends ../../layouts/navbar-home.pug
block content
  h2 Danh sách hàng tồn kho
    table.table.table-borderless
      thead
        tr
          th Id sản phẩm
          th Tên sản phẩm
          th Hạn sử dụng
          th Số lượng
          th Giá nhập
          th Tổng tiền
      tbody
        each product in products
          tr
            td= product.id
            td= product.name
            td= product.exp
            td= product.amount
            td= product.import_price
            td= product.import_price*product.amount

  
    
  