extends ../../layouts/navbar-home.pug
block content
  h1 Danh sách khách hàng vàng
    table.table.table-striped.table-hover
      thead
        tr
          th Id
          th Tên khách hàng
          th Email
          th Số điện thoại
          th Địa chỉ
          th Tổng tiền đã mua
      tbody
        each customer in customers
          tr
            td= customer.id
            td= customer.username
            td= customer.email
            td= customer.phone
            td= customer.user_address
            td= customer.total
  